@model MVCDisconnected.Models.Employee
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
</head>
<body>
    <div class="container mt-3">
        @using (Html.BeginForm("Create", "Employee", FormMethod.Post))
        {
            <div class="mt-5">
                @Html.Label("Employee Number :", new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Eno, new { @class = "form-control" })
            </div>
            <div>
                @Html.Label("Name :", new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Ename, new { @class = "form-control" })
            </div>
            <div>
                @Html.Label("Job :", new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Job, null, new { @class = "form-control" })
            </div>
            <div>
                @Html.Label("Salary :", new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Salary, null, new { @class = "form-control" })
            </div>
            <div>
                @Html.Label("Department Name :", new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Dname, null, new { @class = "form-control" })
            </div>
            <br />
            <br />
            <div class="text-center">
                <button type="submit" class="btn btn-success me-3">Insert</button>
                <a href="/Employee/Index" class="btn btn-dark">Back to List</a>
            </div>
            }
    </div>
</body>
</html>
